{{ form_start(form, {'action': path('app_response_answer_update', {'uuid': response_answer.response.uuid, 'id': response_answer.id}), 'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate'}}) }}
<div class="ui very padded center aligned segment">
    <div class="content bigger-font">
        <div class="ui header bigger-font">{{ response_answer.question.title }}</div>
        <div class="description">
            {{ form_row(form.selectedAnswers) }}
            {{ form_row(form._token) }}
        </div>
    </div>
    {{ form_errors(form) }}
    <div class="extra content padding">
        <button class="ui fluid right positive labeled icon button">
            <i class="right arrow icon"></i>
            {{ 'sylius.ui.next'|trans }}
        </button>
    </div>
</div>
{{ form_end(form, {'render_rest': false}) }}
