{% set quiz = response.quiz %}

<div id="details">
    <h4 class="ui top attached large header">{{ 'app.ui.quiz_details'|trans }}</h4>
    <div class="ui attached segment">
        <div>
            <table class="ui very basic celled table">
                <tbody>
                <tr>
                    <td class="five wide"><strong class="gray text">{{ 'sylius.ui.title'|trans }}</strong></td>
                    <td>{{ quiz.title }}</td>
                </tr>
                <tr>
                    <td class="five wide"><strong class="gray text">{{ 'app.ui.subject'|trans }}</strong></td>
                    <td>{{ quiz.subject }}</td>
                </tr>
                <tr>
                    <td class="five wide"><strong class="gray text">{{ 'app.ui.start_date'|trans }}</strong></td>
                    <td>{{ response.startDate|date('Y-m-d H:i') }}</td>
                </tr>
                <tr>
                    <td class="five wide"><strong class="gray text">{{ 'app.ui.finish_date'|trans }}</strong></td>
                    <td>{{ response.finishDate|date('Y-m-d H:i') }}</td>
                </tr>
                <tr>
                    <td class="five wide"><strong class="gray text">{{ 'app.ui.score'|trans }}</strong></td>
                    <td>{{ response.score }} / {{ response.totalScore }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
