<div class="ui segment">
    {{ form_start(form, {'action': path('app_user_edit', configuration.vars.route.parameters|default({ 'id': resource.id })), 'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate'}}) }}
    <input type="hidden" name="_method" value="PUT" />
    <div class="ui one column stackable grid">
        {{ form_errors(form) }}
        <div class="column">
            <div class="ui segment">
                <h4 class="ui dividing header">{{ 'sylius.ui.general_info'|trans }}</h4>
                <div class="two fields">
                    {{ form_row(form.firstName) }}
                    {{ form_row(form.lastName) }}

                </div>
            </div>
            <div class="ui segment">
                {{ form_row(form.email) }}
                {{ form_row(form.plainPassword) }}
            </div>
            <div class="ui segment">
                <h4 class="ui dividing header">{{ 'sylius.ui.preferences'|trans }}</h4>
                {{ form_row(form.localeCode) }}
            </div>
        </div>
    </div>
    {% include '@SyliusUi/Form/Buttons/_update.html.twig' with {'paths': {'cancel': path('app_front_dashboard', configuration.vars.route.parameters|default({}))}} %}
    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
</div>

