{% extends '@PlatformFront/layout.html.twig' %}

{% block title %}{{ parent() }}{{ 'app.ui.responses'|trans }}{% endblock %}

{% block content %}
    {% set quiz = response.quiz %}

    <div class="ui very padded center aligned segment">
        <div class="content bigger-font">
            <div class="ui header bigger-font">{{ 'app.ui.finish'|trans }}</div>
            <div class="description">
                <div class="ui large middle aligned divided list">
                    <div class="item">
                        <div class="content">
                            <a class="header">{{ 'app.ui.quiz_done_in'|trans }}: {{ response.finishTime }} {{ 'app.ui.minutes'|trans }}</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <a class="header">{{ 'app.ui.score'|trans }}: {{ response.score }} / {{ response.totalScore }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="extra content padding">
            <a href="{{ path('app_front_dashboard') }}">
                <button class="fluid ui positive button">{{ 'sylius.ui.home'|trans }}</button>
            </a>
        </div>
    </div>
{% endblock %}
