{% extends '@PlatformFront/layout.html.twig' %}

{% block title %}{{ parent() }}{{ 'app.ui.responses'|trans }}{% endblock %}

{% block content %}
    {% set quiz = response.quiz %}

    <div id="v-container" class="ui grid middle aligned">
        <div class="row">
            <div class="column" align="middle">
                <div class="ui raised card">
                    <div class="ui small centered image no-background">
                        <img class="image-margin image-border"
                             src="https://9b16f79ca967fd0708d1-2713572fef44aa49ec323e813b06d2d9.ssl.cf2.rackcdn.com/1140x_a10-7_cTC/questionmark1-1563038597.jpg"
                             alt="Question">
                    </div>
                    <div class="content">
                        <div class="ui header bigger-font">{{ 'app.ui.start'|trans }}</div>
                        <div class="description">
                            <div class="ui large middle aligned divided list">
                                <div class="item">
                                    <div class="content">
                                        <a class="header">{{ 'app.ui.quiz_time'|trans }}
                                            : {{ quiz.quizTime }} {{ 'app.ui.minutes'|trans }}</a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="content">
                                        <a class="header">{{ 'app.ui.questions_count'|trans }}
                                            : {{ quiz.questions.count }}</a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="content">
                                        <a class="header">{{ 'app.ui.quiz_description'|trans }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="extra content padding">
                        <a href="{{ path('app_response_answer_update', {'uuid': response.uuid, 'id': response.answers.first.id}) }}">
                            <button class="fluid ui positive button">{{ 'app.ui.go_to_questions'|trans }}</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
