{% import '@SyliusUi/Macro/messages.html.twig' as messages %}

{% set responses = app_finished_quizzes(app.user, 5) %}

<div class="ui placeholder segment">
    <div class="ui icon header">
        <i class="question icon"></i>
        {{ 'app.ui.finished_quizzes'|trans }}
    </div>

    {% if responses is empty %}
        {{ messages.info('sylius.ui.no_results_to_display') }}
    {% endif %}

    <div class="ui relaxed divided list">
        {% for response in responses %}
            {% set quiz = response.quiz %}
            <div class="item">
                <div class="right floated content">
                    <a href="{{ path('app_response_show', {'uuid': response.uuid}) }}">
                        <div class="ui primary button">
                            {{ 'sylius.ui.show'|trans }}
                        </div>
                    </a>
                </div>
                <i class="large arrow alternate circle right middle aligned icon"></i>
                <div class="content">
                    <a class="header">{{ quiz.title }}</a>
                    <div class="description"><b>{{ 'app.ui.score'|trans }}: </b>{{ response.score }} / 100</div>
                </div>
            </div>
        {% endfor %}
    </div>

    <a href="{{ path('app_response_index') }}">
        <button class="fluid ui button">{{ 'sylius.ui.show_all'|trans }}</button>
    </a>
</div>
